.imgPreview{
    /* border: 2px solid red; */
    overflow: hidden;
    height: 150%;
    transform: translateY(-16%);
    /* z-index: -1; */
}
.imgSubBtn{
    z-index: 11;
}

.PostAvatarContainer{
    /* border: 2px solid yellow; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.PostAuthorPP{
    /* border: 2px solid red; */
    position: absolute;
    /* top: 0; */
    /* height: 100%; */
    width: auto;
}